h1 Daily report
table(width='1240px')
  td(width='50%')
    table
      thead
       b Top 5 failed cases
      block top5
  td(width='50%')
    table
      thead
      b New failed cases
      block newFailed
  tr
    td
      table
        thead
        b Summary of today's automation
        block summary
