doctype  html
html
  include head
body
    img(src="cid:0000001")
    h1 Daily report
    //include newFailed
    //include top5
    include jobs
//TODO: Data fetch
//TODO: add html link
//TODO: add category
//TODO: Title
//TODO: Failed icon
//TODO: web page
//TODO: Cidashboard deploy
//TODO: Test case details
f
