body {
  width: 1240px;
  font-family: verdana,arial,sans-serif;
  font-size:11px;
}

table {
  color:#333333;
}
th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}
td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
  vertical-align: top;
}
