table(width='100%')
  caption Summary of today's automation
  thead
    th Job Name
    th Build Id
    th Total
    th Pass
    th Fail
  tbody
    each i in summary
      tr
        td= i.jobName
        td= i.buildId
