/* You can add global styles to this file, and also import other style files */
body {
  width: 1240px;
  font-family: verdana,arial,sans-serif;
  font-size:11px;
}

table.caption {
  font-size: larger;
  background-color: #0B6FA4;
}
